@model IEnumerable<factura.Models.Factura>

@{
    ViewData["Title"] = "Index";
}
 
<p>
    <a asp-action="Create">Crear factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Número Factura
            </th>
            <th>
                Nombre Cliente
            </th>
            <th>
                Documento Cliente
            </th>
            
           
            
            <th>
               Metodo de Pago
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
               Descuento
            </th>
            <th>
                Iva %
            </th>
            <th>
              Total descuento
            </th>
            <th>
                 Total impuestos
            </th>
            <th>
               Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentoCliente)
                </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.TipodePago)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalImpuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFactura">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFactura">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFactura">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
